# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Django
# =========================
db.sqlite3
*.log
local_settings.py
media/

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Static / Collected Files
# =========================
staticfiles/

# =========================
# Environment Variables
# =========================
.env